Basics of python

In [ ]:
name = "Ranjith"
college = "Vellore institute of technology"
print("Name:", name)
print("College:", college)
print("python is powerful!")

Name: Ranjith
College: Vellore institute of technology
python is powerful!

Name: Ranjith
College: Vellore institute of technology
python is powerful!

In [ ]:
my_int = 30
my_float = 15.4
my_string = "Hello python!"
print("Value:", my_int, "| Type:", type(my_int))
print("Value:", my_float, "| Type:", type(my_float))
print("Value:", my_string, "| Type:", type(my_string))

Value: 30 | Type: <class 'int'>
Value: 15.4 | Type: <class 'float'>
Value: Hello python! | Type: <class 'str'>

In [1]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

total1 = num1 + num2
total2 = num1 - num2
total3 = num1 / num2

print("The sum is:", total1)
print("The sub is:", total2)
print("The divide is:", total3)

The sum is: 132.0
The sub is: 18.0
The divide is: 1.3157894736842106

In [2]:
num = float(input("Enter a number: "))

if num > 0:
    print("The number is positve.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is Zero.")

The number is positve.

In [3]:
fruits = ["orange", "mango", "blueberry", "Jackfruit", "watermelon"]

print("First fruit:", fruits[0])
print("last fruit:", fruits[-1])

fruits.append("pineapple")

print("Updated fruit list:", fruits)

First fruit: orange
last fruit: watermelon
Updated fruit list: ['orange', 'mango', 'blueberry', 'Jackfruit', 'watermelon', 'pineapple']

In [4]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

The number is even.

In [6]:
for i in range(1,11):
    print("Square of",i, "is", i**2 )

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [ ]:
num = 10
while num >= 1:
    print(num)
    num += 1

10
9
8
7
6
5
4
3
2
1

In [1]:
password = input("Enter the password")

if password == "Astro@123":
    print("Access granted")
else:
    print("Access denied")

Access granted

Intermediate

In [4]:
def greet(name):
    print("hello,", name)

greet("Ranjith")

hello, Ranjith

In [2]:
my_info = {
    "Name": "Ranjith",
    "Age": "22",
    "Field of study": "Astrophysics"
}   
for key, value in my_info.items():
    print(key + ":", value)

Name: Ranjith
Age: 22
Field of study: Astrophysics

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    print("The largest number is :", num1)
elif num2 >= num1  and num2>= num3:
    print("The largest number is:", num2)
else:
    print("The largest number is:", num3)

The largest number is: 9.353190945984582e+29